<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a simple app that takes film scripts from <a href="http://www.imsdb.com/">IMSDb (The Internet Movie Script Database) </a> and conducts a word count on them. It should tell you what the highest occuring words are in films that are available on the website.
</p>

<p> Please note, that this is limited by the transcripts that are available on the website itself: Not all movie scripts are availble (particularly new ones) and are, in the majority, written voluntarily.  An extensive list can be found <a href="http://www.imsdb.com/all%20scripts/">here</a>
<p>
  
<p> For the purposes of Analysis, the name tags (i.e. who is saying what dialog) have been removed, as this would make character names the highest occuring word in every film (and would not provide an accurate representation of the film!)
<p>